* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.logo {
  height: 100px; }

.gg-instagram {
  width: 50px;
  height: 50px; }

.bg-pink {
  --bs-bg-opacity: 1;
  background-color: pink !important; }

h1 {
  font-size: 2.7rem;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0%;
  text-align: center;
  color: blueviolet; }

h2 {
  font-size: 2rem;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0%;
  text-align: center;
  color: blueviolet; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1.5rem;
  color: black; }

h4 {
  font-size: 1.5rem;
  text-align: center;
  color: black;
  font-family: "Saira Semi Condensed", sans-serif; }

.precios {
  list-style: none;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-family: "Saira Semi Condensed", sans-serif; }

.logoinst {
  position: fixed;
  top: 92vh;
  right: 50px;
  color: black; }

.boton {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px black;
  color: black;
  background-color: blueviolet;
  text-align: center;
  border-radius: 10px;
  margin: 30px 0; }

.botoncontainer {
  display: flex;
  justify-content: center;
  width: 100%; }

.contenedorimg {
  filter: drop-shadow(5px -5px 10px black);
  width: 200px;
  height: auto; }

.container {
  filter: drop-shadow(5px -5px 10px black);
  background-color: pink;
  border-radius: 10px;
  position: relative; }

.container-fluid {
  position: relative; }

body {
  margin: 0; }

.info-list {
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: black; }

.nav-desktop {
  display: none; }

.nav-menu {
  display: inline-block; }

nav a {
  font-weight: 600; }
  nav a:hover {
    color: white; }

.grow-fix {
  flex-grow: 0; }

.emotes2 {
  filter: drop-shadow(5px -5px 10px black); }

main {
  position: relative;
  overflow-x: hidden;
  background-image: url("../img/color-fondo-pastel-blanco-medio_477352-29.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.imagenfluid {
  margin: 0 auto;
  object-fit: cover;
  width: 85%; }

.flechaizq {
  left: -25px;
  width: 50px; }

.flechader {
  right: -25px;
  width: 50px; }
