.h1-index {
  font-family: "Saira Condensed";
  font-weight: 700;
  font-size: 8rem;
  line-height: 80%;
  color: #8a2be2;
  margin-bottom: 30px;
}
h2 {
  font-family: "Saira Condensed";
  font-weight: 700;
  font-size: 5rem;
  color: #8a2be2;
}
p {
  color: #5a5a5a;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1, 5;
}
.flechaizq {
  left: -60px;
  opacity: 1;
}
.flechader {
  right: 70px;
  opacity: 1;
}
.flechacolor {
  background-color: #8a2be2;
  border-radius: 50%;
}
